﻿<div id="body">
    @*<section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to ASP.NET Web API!</h1>
                <h2>Modify the code in this template to jump-start your ASP.NET Web API development.</h2>
            </hgroup>
            <p>
                ASP.NET Web API allows you to expose your applications, data and services to the
                web directly over HTTP.
            </p>
            <p>
                To learn more about ASP.NET Web API visit the
                <a href="http://go.microsoft.com/fwlink/?LinkID=238195" title="ASP.NET Web API Website">ASP.NET Web API Website</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET Web API.
                If you have any questions about ASP.NET Web API, visit
                <a href="http://go.microsoft.com/fwlink/?LinkID=238196" title="ASP.NET Web API Forum">our forums</a>.
            </p>
        </div>
    </section>*@
    <section class="content-wrapper main-content clear-fix">
        <h3>Races:</h3>
        @Html.DropDownList("Races", new SelectList(ViewBag.RaceList, "Id", "Name", Request.QueryString["race"]), "All Races", new { id = "ddlRaces", onChange = "onddlRacesChange()" })
        <table>
            <thead>
                <th>Name</th>
                <th>Age</th>
                <th>Height</th>
            </thead>
            @foreach (var item in @ViewBag.People)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                    <td>@item.Height</td>
                </tr>
            }
        </table>
    </section>
    <script>
        function onddlRacesChange() {
            var selectedRace = $("#ddlRaces").val();
            if (selectedRace == "") {
                window.location = "/";
            } else {

                window.location = "/?race=" + selectedRace;
            }
        }
    </script>
</div>
